@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(138, 190, 190, 0.894);
}

main {
    height: 100vh;
    position: relative;
    background-color: blueviolet;
    background-image: url(../imagens/fundo01.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat ;
}

iframe#dentro {
    position: relative;
    top: 80px ;
    left: 18px ;
    width: 271px;
    height: 472px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img{
    width: 40px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.596);
    
}

section#redes-sociais img:hover {
    border: 2px solid rgb(255, 255, 255);
    transform: translate(-4px, -4px);
    transition: transform .3s, border .2s;
}